<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Wat doe ik?</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">
          Ik ben graag bezig met het vinden en bouwen van oplossing voor vraagstukken binnen de thuis automatisering. Dit doe ik vaak met behulp van
          WiFi-modules, Arduino's en Raspberry pi's als hardware, en Nodejs servers, Python scripts of Angular web apps om dit alles aan te sturen.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Vaardigheden</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x devicon-angularjs-plain text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Angular Webapps</h3>
          <p class="text-muted mb-0"></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x devicon-nodejs-plain text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">NodeJS Servers</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x devicon-debian-plain text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Debian Linux</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x devicon-git-plain text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Git Workflow</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="specificaties">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Specificaties</h2>
        <hr class="light my-4">
        <div class="row">
        <ul class="col-lg-4 col-md-6 col-xs-12">
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
        </ul>
        <ul class="col-lg-4 col-md-6 col-xs-12">
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
        </ul>
          <ul class="col-lg-4 col-md-6 col-xs-12">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
